@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

* {
	box-sizing: border-box;
}

body {
  font-family: "PT Sans Narrow";
  color: #222;
  background-color: #222;
  padding: 0;
  margin: 0;
  transition: background-color 500ms linear;
}

header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#logo {
	width: 200px;
	cursor: pointer;
	margin-top: 40px;
}

a {
	color: #DD4425;
}

h1 {
	font-size: 100px;
	padding: 10px 20px;
	margin: 0;
}

h2 {
	font-size: 40px;
	margin: 40px 0;
	padding: 0;
	letter-spacing: 1px;
	text-align: center;
}

h3 {
	margin: 0;
	padding: 0;
}

h4 {
	font-weight: 400;
	font-size: 36px;
}

#section1 {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100vh;
}

#section1 h2 {
	color: #eee;
}

#section2 {
	background-color: #DD4425;
	padding: 0;
}

#section3 {
	background-color: #222;
	color: #eee;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	height: 70px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
}

#section3:hover {
	background-color: #2a2a2a;
}

#section4 {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: #222;
	background-color: #eee;
}

#section5 {
	background-color: #222;
	color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 10%;
	text-align: center;
}

footer {
	background-color: #ccc;
	padding: 2% 5%;
}

#beta-interest {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 20px 10px;
}

.cta {
	margin: 0 40px 0 0;
	font-size: 30px;
}

#interest-email {
	height: 60px;
	padding: 0 40px;
	font-size: 20px;
	border: 1px #aaa solid;
	border-radius: 8px;
	background-color: #eee;
	font-family: "PT Sans Narrow";
	margin: 0 20px;
}

#interest-submit {
	height: 50px;
	background-color: #222;
	border: 1px #333 solid;
	border-radius: 8px;
	font-family: "PT Sans Narrow";
	padding: 0 30px;
	margin: 0;
	cursor: pointer;
	color: #eee;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#pop-up-overlay {
	display: none;
	position: fixed;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

#pop-up, #pop-up * {
	display: none;
}

#beta-full {
	display: none;
    position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 80%;
	background-color: #eee;
	border-radius: 8px;
	border: 1px solid #ccc;
	z-index: 10;
	padding: 30px;
	max-width: 450px;
}

#beta-full label {
	font-size: 20px;
	margin-right: 30px;
}

#beta-full input {
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-family: "PT Sans Narrow";
	font-size: 18px;
	padding: 5px;
	shadow: #DD4425;
	outline-color: rgba(221, 68, 37, 0.1);
	outline-offset: -3px;
	outline-width: 5px;
}

#submit-contain {
	text-align: center;
	margin-top: 20px; 
}

#beta-submit {
	height: 50px;
	width: 70%;
	background-color: #222;
	border: 1px #333 solid;
	border-radius: 8px;
	font-family: "PT Sans Narrow";
	padding: 0 30px;
	cursor: pointer;
	color: #eee;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.toggle-set * {
	background-color: #222;
	display: inline-block;
	padding: 20px;
	font-family: "PT Sans Narrow";
	font-size: 20px;
	border: none;
	width: 150px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	transition: background-color 200ms linear;
}

.active {
	background-color: #DD4425;
}

.left-button {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.right-button {
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.img-set {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#screenshot1 {
	width: 80%;
	margin: 40px 20px;
	border: 1px solid #ccc;
}

#screenshot2 {
	width: 80%;
	margin: 40px 20px;
	border: 1px solid #ccc;
	display: none;
}

#screenshot3 {
	display: none;
	margin: 40px 20px;
}

.red {
	color: #DD4425;
 transition: color 500ms linear;
}

.hidden {
 transition: color 500ms linear;
}

.light {
	background-color: #eee;
}

.bragging {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin: 10px 15px;
}

@media screen and (max-width: 960px) {
	#beta-interest {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.cta {
		text-align: center;
		margin-right: 0;
		margin: 30px 0;
	}
	#interest-submit {
		margin: 30px 0;
	}
	h1 {
		font-size: 20vw;
	}
	h2 {
		font-size: 10vw;
		text-align: center;
	}
	.toggle-set * {
		font-size: 16px;
		width: 100px;
		padding: 10px 5px;
	}
	#section1 {
		height: auto;
		padding-bottom: 40px;
	}
	#section1 h2 {
		margin: 10px 15px;
	}
	#beta-full input {
		margin: 5px 0;
		font-size: 15px;
	}
	#beta-full label {
		font-size: 15px;
		margin-right: 15px;
	}
}
