@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

* {
	box-sizing: border-box;
}

body {
    margin: 0 0 20px 0;
    padding: 0;
    background-color: #eee;
    font-family: PT Sans Narrow, sans-serif;
    color: #222;
    overflow-x: hidden;
}

a {
	color: #CC543D;
}

label {
	display: block;
    margin: 5px;
}

label input {
	max-width: 300px;
	min-width: 150px;
	width: 50%;
	margin: 10px;
}

.header {
	background-color: #222;
	color: white;
	padding: 10px 25px 25px 25px;
}

#main-form {
	background-color: white;
	border: 1px solid #ccc;
	padding: 25px;
	margin-bottom: 30px;
}

.big-text-input {
	margin-top: 10px;
}

.big-text-input textarea {
	width: 100%;
	height: 70px;
}

.wrapper {
	width: 100%;
	text-align: center;
}

#submit-plz {
	height: 39px;
	cursor: pointer;
	font-size: 14px;
	font-family: PT Sans Narrow;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 40px;
	background-color: #222;
	/*background-color: white;*/
	box-shadow: none;
	border: none;
	color: white;
}

.errors-area li {
	color: red;
}

.tl-ticketstatus {
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#tickets-list {
	width: 100%;
	margin: 0;
	padding: 0;
}

#tickets-list li {
	border-bottom: 1px #ccc solid;
	list-style-type: none;
	padding: 20px 40px;
	margin: 0;
}

.ticket-list-type-pending {
	background-color: #CC543D;
}

.ticket-list-type-confirmed {
	background-color: #FFFC54;
}

.ticket-list-type-sent {
	background-color: #38FF6D;
}

.ticket-list-type-closed {
	background-color: #437FB2;
}

.bragging {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin: 10px 15px;
}

/* chat */

#chatlog {
	background-color: white;
	height: 60vh;
	border: 1px solid #ccc;
	padding: 25px;
	overflow-y: auto;
}

#chatinput {
	margin-bottom: 40px;
}

#chatinput input {
	width: 80%;
	height: 40px;
	font-size: 14px;
	font-family: PT Sans Narrow;
	padding: 0 20px;
    border: 1px solid #ccc;
}

#chatinput button {
	height: 39px;
	cursor: pointer;
	font-size: 14px;
	font-family: PT Sans Narrow;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 40px;
	background-color: #222;
	/*background-color: white;*/
	box-shadow: none;
	border: none;
	color: white;
}

@media screen and (max-width: 610px) {
	#chatinput input {
		width: 100%;
	}
	#chatinput {
		text-align: center;
	}
	#chatinput button {
		width: 80%;
		margin: 20px 0 0 0;
	}
}

#chatlog p {
    padding: 1em;
    /*margin: 0.5em 0;*/
}

#chathead {
	background-color: #222;
	color: white;
	padding: 10px;
	list-style: none;
}

#chatdata {
	margin: 0;
	padding: 0;
}

#chatdata li {
	display: inline-block;
	margin: 0;
	padding: 10px 10px;
}

.message {
	/*background-color: #FFFC54;*/
	border-top: 3px solid #FFFC54;
	margin: 0;
}

.server-message {
	/*background-color: #437FB2;*/
	border-top: 3px solid #437FB2;
	margin: 0;
}

.admin-message {
	/*background-color: #CC543D;*/
	border-top: 3px solid #CC543D;
	margin: 0;
}

.label-bold {
	font-weight: 800;
}
