@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);

body {
    margin: 5%;
    padding: 0;
    background-color: #eee;
    font-family: Roboto, sans-serif;
    color: #222;
    overflow-x: hidden;
}

label {
	display: block;
    margin: 5px;
}

#submit-plz {
	width: 100px;
	padding: 20px;
}

.errors-area li {
	color: red;
}

.tl-ticketstatus {
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#tickets-list {
	width: 100%;
	margin: 0;
	padding: 0;
}

#tickets-list li {
	border-bottom: 1px #ccc solid;
	list-style-type: none;
	padding: 20px 40px;
	margin: 0;
}

.ticket-list-type-pending {
	background-color: #CC543D;
}

.ticket-list-type-confirmed {
	background-color: #FFFC54;
}

.ticket-list-type-sent {
	background-color: #38FF6D;
}

.ticket-list-type-closed {
	background-color: #437FB2;
}

.bragging {
    text-align: center;
}

/* chat */

#chatlog {
	background-color: white;
	height: 60vh;
	border: 1px solid #ccc;
	padding: 25px;
	overflow-y: auto;
}

#chatinput input {
	width: 80%;
	height: 40px;
	font-size: 14px;
	font-family: Lato;
	padding: 0 20px;
    border: none;
}

#chatinput button {
	height: 40px;
	cursor: pointer;
	font-size: 14px;
	font-family: Lato;
	padding: 0 15px;
	background-color: #38FF6D;
	box-shadow: none;
	border: 1px solid #ccc;
}

#chatlog p {
    padding: 10px;
    margin: 5px 0;
}

.message {
	background-color: #FFFC54;
}

.server-message {
	background-color: #437FB2;
	margin: 0;
	padding: 5px;
}

.admin-message {
	background-color: #CC543D;
	margin: 0;
	padding: 5px;
}

.author {
	font-weight: bold;
}
