{% extends "layout.html" %}

{% block contents %}
<script type="text/javascript">var token = "{{token}}";</script>
<div class="header">
	<h1>HackSignal</h1>
	<ul id="chatdata">
		<li><span class="label-bold">Signal ID: </span>762</li>
		<li><span class="label-bold">Hacker ID: </span>ariari</li>
		<li><span class="label-bold">Signal content: </span>Need help setting up GPS data with Android Studio. Need help setting up GPS data with Android Studio.</li>
		<li><span class="label-bold">Signal status: </span>PENDING</li>
	</ul>
</div>
<div id="chatlog">
	<h3>You are chatting with the mentorship operator. DO NOT REFRESH THIS PAGE.</h3>
</div>
<form id="chatinput">
	<input id="msg-content" placeholder="Message the operator..." type="text"></input>
	<input id="submit-button" type='submit' onclick='false' value='Send'>
</form>
<script type="text/javascript" src="/static/javascripts/chat.js"></script>
{% endblock %}
