{% extends "layout.html" %}

{% block contents %}
<script type="text/javascript">var token = "{{ ticket.ticketId }}";</script>
<div class="header">
	<h1>HackSignal</h1>
	<ul id="chatdata">
		<li><span class="label-bold">Signal ID: </span>
        <span id='ticket-id'> {{ ticket.ticketId }} </span>
        </li>
		<li><span class="label-bold">Hacker ID: </span>
        <span id='hacker-name'> {{ ticket.userName }}</span>
        </li>
        {#
		<li><span class="label-bold">Signal content: </span>
        <span id='ticket-contents'></span>
        </li>
		<li><span class="label-bold">Signal status: </span>
        <span id='ticket-status'> {{ ticket.ticketStatusName }} </span>
        </li>
        #}
	</ul>
</div>
<div class="chatlog bigchatlog">
	<h3>You are chatting with the mentorship operator. DO NOT REFRESH THIS PAGE.</h3>
</div>
<form class="chatinput" onsubmit='return sendChatMessage();'>
	<input id="msg-content" placeholder="Message the operator..." type="text"></input>
	<input id="submit-button" type='submit' value='Send'>
</form>
<script type="text/javascript" src="/static/javascripts/chat.js"></script>
{% endblock %}
