{% extends "layout.html" %}

<h1>McMentor Me!</h1>

<h3>Fill out the mentorship form and a dedicated McMentor will meet you at your table. For bugs and emergencies: <a href="mailto:ari@mchacks.io">ari@mchacks.io</a></h3>

{% block contents %}
<form action='{{ url_for("mentor_request") }}' method='POST'>
    {{ form.hidden_tag() }}
    <label>
        Name:
        {{ form.user_name() }}
    </label>
    <br>
    <label>
        Email:
        {{ form.user_email() }}
    </label>
    <br>
    <label>
        I need help with...(please give keywords like "iOS" or "Ruby")
        {{ form.ticket_contents() }}
    </label>
    <br>
    <label>
        Table number:
        {{ form.ticket_table_number() }}
    </label>
    <br>
    <input type='submit'>
</form>
{% endblock %}
