{% extends "layout.html" %}

{% block contents %}

<div class="header">
<h1>HackSignal</h1>

<p>Send out a hack signal and our operator will connect you with a dedicated mentor!</p> 
</div>

<div id="main-form">
<form action="{{ url_for('mentor_request') }}" method='POST'>
    {{ form.hidden_tag() }}
    <label>
        Name:
        {{ form.user_name() }}
        {% if form.user_name.errors %}
        <ul class="errors-area">
        {% for error in form.user_name.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </label>
    <br>
    <label>
        Email:
        {{ form.user_email() }}
        {% if form.user_email.errors %}
        <ul class="errors-area">
        {% for error in form.user_email.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </label>
    <br>
    <label>
        I need help with...(please give keywords like "iOS" or "Ruby")
        <div class="big-text-input">{{ form.ticket_contents() }}</div>
        {% if form.ticket_contents.errors %}
        <ul class="errors-area">
        {% for error in form.ticket_contents.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </label>
    <br>
    <label>
        Table #:
        {{ form.ticket_table_number() }}
        {% if form.ticket_table_number.errors %}
        <ul class="errors-area">
        {% for error in form.ticket_table_number.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </label>
    <br>
    <label>
        Are you even human?
        <div style="display:block; margin: 10px;">{{ form.recaptcha() }}</div>
        {% if form.recaptcha.errors %}
        <ul class="errors-area">
        {% for error in form.recaptcha.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </label>
    <div class="wrapper"><input id="submit-plz" type="submit" value="SEND SIGNAL"></div>
</form>
</div>

{% endblock %}
