{% extends "layout.html" %}

{% block contents %}

    <ul id='tickets-list'>
    {% for ticket in tickets %}
        {# The id for the li is very important, see environment.js #}
        <li id='ticket-list-item-{{ ticket.ticketId }}'>
            <p class='tl-username'>
            {{ ticket.userName }} ( {{ ticket.userEmail }} )
            </p>

            <p class='tl-ticketstatus'>
            {{ ticket.ticketStatusName }}
            </p>

            <p class='tl-tablenumber'>
            table #{{ ticket.ticketTableNumber }}
            </p>

            <p class='tl-ticketcontents'>{{ ticket.ticketContents }}</p>

            <button
                onclick="mentorship.sendDeleteTicket({{ ticket.ticketId }});">
                Delete
            </button>

            <select class='tl-status' autocomplete='off'
                onchange="mentorship.sendModifyTicket({{ ticket.ticketId }});">
                {% for ticket_status in ticket_statuses %}
                {% if ticket_status == ticket.ticketStatusName %}
                <option value='{{ ticket_status }}' selected='selected'>
                {% else %}
                <option value='{{ ticket_status }}'>
                {% endif %}
                {{ ticket_status }}
                </option>
                {% endfor %}
            </select>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
