{% extends "layout.html" %}

{% block contents %}

<script type="text/javascript">var password = "{{password}}";</script>

<h1>McMentor Mama</h1>

<h3>Over {{ tickets|length }} hackers helped since 2015!</h3>

    <ul id='tickets-list' ng-controller='TicketListController'>
    {% for ticket in tickets %}
        {# The id for the li is very important, see environment.js,
        and adminchat.js #}
        <li id='ticket-list-item-{{ ticket.ticketId }}'
                class='ticket-list-type-{{ ticket.ticketStatusName }}'>
            <p class='tl-username'>
            {{ ticket.userName }} ( {{ ticket.userEmail }} )
            </p>

            <p class='tl-email' style='display: none;'>
                {{ ticket.userEmail }}
            </p>

            <p class='tl-ticketstatus'>
            {{ ticket.ticketStatusName }}
            </p>

            <p class='tl-tablenumber'>
            table #{{ ticket.ticketTableNumber }}
            </p>

            <p class='tl-ticketcontents'>{{ ticket.ticketContents }}</p>

            {% if ticket.ticketMentorData == None %}
            <textarea class='tl-ticketmentordata'></textarea>
            {% else %}
            <textarea class='tl-ticketmentordata' autocomplete='off'>
                {{ ticket.ticketMentorData }}
            </textarea>
            {% endif %}

            <button
                onclick="mentorship.sendDeleteTicket({{ ticket.ticketId }});">
                Nuke it
            </button>

            <select class="response-options">
                <option value="Your mentor is on their way!">Dispatched</option>
                <option value="There are no mentors available right now. We will let you know when one is free.">No mentor available</option>
                <option value="We can't seem to find you. Where are you located?">Can't find</option>
                <option value="Could you give some more details about your issue?">More details</option>
                <option value="No problem! Happy hacking :)">You're welcome</option>
            </select>

            <button class="send-message"
                onclick="sendAdminMessage({{ ticket.ticketId }});">
                Send message
            </button>

            <select class='tl-status' autocomplete='off'>
                {% for ticket_status in ticket_statuses %}
                {% if ticket_status == ticket.ticketStatusName %}
                <option value='{{ ticket_status }}' selected='selected'>
                {% else %}
                <option value='{{ ticket_status }}'>
                {% endif %}
                {{ ticket_status }}
                </option>
                {% endfor %}
            </select>

            <button
                onclick="mentorship.sendModifyTicket({{ ticket.ticketId }});">
                Update
            </button>
        </li>
    {% endfor %}
    </ul>

<script type="text/javascript" src="/static/javascripts/adminchat.js"></script>
<script type="text/javascript" src="/static/javascripts/services.js"></script>

{% endblock %}
