{% extends "layout.html" %}

{% block contents %}

<h1>McMentor Mama</h1>

<h3>Over {{ tickets|length }} hackers helped since 2015!</h3>

    <ul id='tickets-list'>
    {% for ticket in tickets %}
        {# The id for the li is very important, see environment.js #}
        <li id='ticket-list-item-{{ ticket.ticketId }}'
                class='ticket-list-type-{{ ticket.ticketStatusName }}'>
            <p class='tl-username'>
            {{ ticket.userName }} ( {{ ticket.userEmail }} )
            </p>

            <p class='tl-ticketstatus'>
            {{ ticket.ticketStatusName }}
            </p>

            <p class='tl-tablenumber'>
            table #{{ ticket.ticketTableNumber }}
            </p>

            <p class='tl-ticketcontents'>{{ ticket.ticketContents }}</p>

            {% if ticket.ticketMentorData == None %}
            <textarea class='tl-ticketmentordata'></textarea>
            {% else %}
            <textarea class='tl-ticketmentordata' autocomplete='off'>{{ ticket.ticketMentorData }}</textarea>
            {% endif %}

            <button
                onclick="mentorship.sendDeleteTicket({{ ticket.ticketId }});">
                Nuke it
            </button>

            <select class='tl-status' autocomplete='off'>
                {% for ticket_status in ticket_statuses %}
                {% if ticket_status == ticket.ticketStatusName %}
                <option value='{{ ticket_status }}' selected='selected'>
                {% else %}
                <option value='{{ ticket_status }}'>
                {% endif %}
                {{ ticket_status }}
                </option>
                {% endfor %}
            </select>

            <button
                onclick="mentorship.sendModifyTicket({{ ticket.ticketId }});">
                Update
            </button>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
